body{
text-align: center;
background-color: cyan;
}

#ul{
align-items: : center;
padding-top: 10px;
padding-bottom: 10px;
}

#achievement{
padding-top: 20px;
padding-bottom: 20px;    
}

.school_achievement1 {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    float: right;
}



.movie_text span {
    color: #ff7700;
}






